.comments {
  margin: 30px 0;
  padding: 0;
  
}

.comments__li {
  list-style: none;
}

.comments__item {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-bottom: 10px;
  margin: 30px 0;
}
.comments__item:hover {
  border-bottom: 1px solid #000000;
}
.comments__item_kidL {
  margin-left: 20px;
}
.comments__item_kidM {
  margin-left: 40px;
}
.comments__item_kidS {
  margin-left: 60px;
}